<!--
{{#ui-modal name="create-note" class="create-note" onApprove=(action approve) onDeny=(action deny)}}
  <i class="close icon"></i>
  <div class="header">
    Add Line Note
  </div>
  <div class="content">
    <label>Line</label>
    <div class="ui fluid input">
      <input type="text" placeholder="Line">
    </div>

    <label>Page</label>
    <div class="ui input">
      <input width=3 type="text" placeholder="Line">
    </div>

    <label>Note</label>
    <div class="ui fluid input">
      <input type="text" placeholder="Line">
    </div>

    {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut error))}}
      <div class="default text">Error</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each errorTypes.errors as |err index|}}
          <div class="item" data-value={{index}}>
            {{capitalize err}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="actions">
    <div class="ui deny button">
      Cancel
    </div>
    <div class="ui positive right button">
      Add
    </div>
  </div>
{{/ui-modal}}
-->

{{#modal-dialog close=(action close)
                targetAttachment="center"
                translucentOverlay=true}}
  Oh hai there!
{{/modal-dialog}}
