{{#if open}}
  {{#bs-modal title="Add Line Note" body=false footer=false closeAction=attrs.close}}
    {{#bs-modal-body}}
      {{#bs-form}}
        <div layout layout-sm="column">
          {{paper-input type="text" attr-size=4 value=page
                        onChange=(action (mut page))
                        label="Page" autofocus=true}}
          {{paper-input type="text" attr-size=60 value=line
                        onChange=(action (mut line))
                        label="Line"}}
        </div>
        {{paper-input type="text" value=note
                      onChange=(action (mut note))
                      label="Note"}}

        {{#paper-radio-group groupValue=error onChange=(action (mut error)) as |group|}}
          {{#each errorTypes.errors as |err index|}}
            {{#group.paper-radio value=index}}
              {{capitalize err}}
            {{/group.paper-radio}}
          {{/each}}
        {{/paper-radio-group}}


      {{/bs-form}}
    {{/bs-modal-body}}
    {{#bs-modal-footer as |footer|}}
      {{#paper-button raised=true onClick=(action attrs.close)}}
        Cancel
      {{/paper-button}}
      {{#paper-button raised=true
                  primary=true
                  disabled=(v-get this 'isInvalid')
                  onClick=(action "addNote")}}Add{{/paper-button}}
   {{/bs-modal-footer}}
  {{/bs-modal}}
{{/if}}
