{{#if open}}
  {{#paper-dialog onClose=(action close)}}
    {{#paper-dialog-content}}
      <h2 class="md-title">Add Line Note</h2>
      <div layout="" layout-sm="column">
        {{paper-input placeholder="Line" autofocus=true value=line flex=100
        onChange=(action (mut line))}}
      </div>
      <div layout="" layout-sm="column">
        {{paper-input placeholder="Page" flex=15
                    value=page onChange=(action (mut page))}}
        {{paper-input placeholder="Note" value=note flex=85
                      onChange=(action (mut note))}}
      </div>

      {{#paper-radio-group groupValue=error onChange=(action (mut error)) as |group|}}
        {{#each errorTypes.errors as |err index|}}
          {{#group.paper-radio value=index}}
            {{capitalize err}}
          {{/group.paper-radio}}
        {{/each}}
      {{/paper-radio-group}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button raised=true onClick=(action attrs.close)}}
        Cancel
      {{/paper-button}}
      {{#paper-button raised=true
                  primary=true
                  disabled=(v-get this 'isInvalid')
                  onClick=(action "addNote")}}Add{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
