<thead>
  <tr>
    <th class="two wide">Page</th>
    <th class="nine wide">Line</th>
    <th class="four wide">Error</th>
    <th class="one wide">Edit</th>
  </tr>
</thead>
{{#if noNotes}}
  <tbody>
    <tr>
      <td colspan="4">No notes found.</td>
    </tr>
  </tbody>
{{else}}
  <tbody>
    {{#each sortedNotes as |note|}}
      {{note-detail note=note
                    edit=(action edit)}}
    {{/each}}
  </tbody>
{{/if}}
