<thead>
  <tr>
    <th>Page</th>
    <th>Line</th>
    <th>Error</th>
    <th>Edit</th>
  </tr>
</thead>
{{#if noNotes}}
  <tbody>
    No notes found.
  </tbody>
{{else}}
  <tbody>
    {{#each sortedNotes as |note|}}
      {{note-detail note=note}}
    {{/each}}
  </tbody>
{{/if}}
<tfoot class="full-width">
  <tr>
    <th colspan="4">
      <button class="ui small primary button" {{action (action toggle)}}>
        <i class="user icon"></i> Add Note
      </button>
      <button class="ui small button">
        Edit Character
      </button>
      <button class="ui small button">
        Delete Character
      </button>
    </th>
  </tr>
</tfoot>

{{#if isShowing}}

  {{create-line-note close=(action toggle)}}

{{/if}}
