{{#popup-modal
  showing=showing
  title="Edit Show"
  onClose=(action 'onClose' show)
  clickOutsideToClose=true
}}
  <div class="layout-column ">
    {{paper-input placeholder="Show Name" autofocus=true flex=true
                  value=show.name onKeyDown=(action "updateModalButton")
                  onChange=(action (mut show.name))}}

    {{#file-picker accept=".jpg,.jpeg,.gif,.png"
                   fileLoaded="fileLoaded"
                   readAs="readAsDataURL"}}
      Drag here or click to upload a show image.
    {{/file-picker}}

    <h4>Assigned Users:
      {{#if addingAssignedUser}}
        {{#paper-select getItems=loadUsernames
          itemLabelCallback=userLabelCallback
          placeholder="Assign to a user" value=selectedUser
          onChange=(action (mut selectedUser)) as |items|}}

          {{#each items as |user|}}
            {{#paper-option value=user}}
              {{user.name}}
            {{/paper-option}}
          {{/each}}
        {{/paper-select}}
      {{/if}}

      {{#paper-button class="md-secondary" primary=true iconButton=true
                      onClick=(action "addAssignedUser")}}
        {{paper-icon "group-add"}}
      {{/paper-button}}
    </h4>
    {{#paper-list}}
      {{#each show.assignedUsers as |user|}}
        {{#paper-item}}
          <p>Test User 1</p>
          {{#paper-button class="md-secondary" iconButton=true
                          onClick=(action "removeAssignedUser")}}
            {{paper-icon "delete"}}
          {{/paper-button}}
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  </div>
{{/popup-modal}}
