@import 'ember-paper';

a.active {
  background-color: color($foreground-light, '3');
}

.show-list-footer:hover {
  background-color: color($foreground-dark, '3');
}

.show-list-img {
  background-color: color($foreground-dark, '4');
}
