<div class="ui centered raised link cards menu-pad">
  {{#each model as |show|}}
    {{#link-to 'shows.show-detail' show.slug class="card" tagName="div"}}
      <div class="image">
        <img src={{img-src show.name}} class="img-responsive"
             alt="Show Image" title="Show Image">
      </div>
      <div class="content">
        <div class="center aligned header">
          {{show.name}}
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">
          <button class="ui labeled icon button">
            <i class="setting icon"></i> Edit
          </button>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
</div>
