<div class="ui container">
  {{#if session.isAuthenticated}}
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
          {{#each sortedChars as |char|}}
            <div class="item">
              <div class="content">
                <a class="header" {{action "selectChar" char}}>{{char.name}}</a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="twelve wide stretched column">
        <div class="ui segment">
          {{#if activeChar}}
            {{char-detail char=activeChar
                isEditing=isEditing
                create=(action "addNote" activeChar)
                deleteChar=(action "deleteChar" activeChar)
                deleteNote=(action "deleteNote" activeChar)
                editChar=(action "editChar" activeChar)
                editNote=(action "editNote")}}
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <div>
      <p>You aren't logged in.</p>
    </div>
  {{/if}}
</div>
