<h2>Show: {{model.name}}</h2>
<ul>
{{#each model.characters as |char|}}
  <li>{{char.name}}</li>
{{/each}}
</ul>
{{#create-character class="create-char" show=model add=(action "addChar" model)}}
  {{create-line-note}}
{{/create-character}}
