<div class="ui container">
  {{#if session.isAuthenticated}}
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
          {{#each sortedChars as |char index|}}
            {{#link-to 'shows.show-detail.char' char class="item"}}
              {{char.name}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
      <div class="twelve wide stretched column">
        <div class="ui segment">
          {{outlet}}<!-- char=activeChar
              isEditing=isEditing
              create=(action "addNote" activeChar)
              deleteChar=(action "deleteChar" activeChar)
              deleteNote=(action "deleteNote" activeChar)
              editChar=(action "editChar" activeChar)
              editNote=(action "editNote")}}-->
        </div>
      </div>
    </div>
  {{else}}
    <div>
      <p>You aren't logged in.</p>
    </div>
  {{/if}}
</div>
