<div class="layout-row layout-padding layout-wrap layout-align-space-around">
  {{#each model as |show|}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{show.name}}{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#link-to 'shows.show-detail' show.id}}
        {{card.image src="assets/images/default.png"
                      alt="Show Image" title="Show Image" class="show-list-img"}}
      {{/link-to}}
      {{#card.actions}}
        {{#paper-button iconButton=true onClick=(action "editShow" show)}}
          {{paper-icon "edit"}}
        {{/paper-button}}
        {{#paper-button iconButton=true onClick=(action "deleteShow" show)}}
          {{paper-icon "delete"}}
        {{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/each}}
</div>
