{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'shows.show-list'}}
      {{paper-button label='Home'}}
    {{/link-to}}
    {{#each model as |show|}}
      {{#link-to 'shows.show-detail' show.id}}
        {{paper-button label=show.name}}
      {{/link-to}}
    {{/each}}
  </div>
{{/paper-toolbar}}
{{outlet}}
