{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button action=(transition-to 'shows')}}Home{{/paper-button}}
    {{#each model as |show|}}
      {{#paper-button action=(transition-to 'shows.show-detail' show.id)}}
        {{show.name}}
      {{/paper-button}}
    {{/each}}
  </div>
{{/paper-toolbar}}
{{outlet}}
{{#if openModal}}
  {{#bs-modal title="Add New Show" body=false footer=false}}
    {{#bs-modal-body}}
      {{#bs-form action=(action "createShow" name) model=this}}
        {{bs-form-element controlType="text" label="Show Name" property="name" autofocus=true}}
      {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle="Cancel" submitTitle="Add"}}
  {{/bs-modal}}
{{/if}}
