{{#paper-sidenav-container class="inner-sidenav"}}
  {{#user-panel}}
    <h4>Nathan Gingrich</h4>
  {{/user-panel}}

  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-align-start-center layout-column">
      {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          {{#paper-sidenav-toggle name="left" class="hide-gt-lg" as |toggleAction|}}
            {{#paper-button onClick=(action toggleAction)
                            iconButton=true}}
              {{paper-icon "menu"}}
            {{/paper-button}}
          {{/paper-sidenav-toggle}}

          {{#link-to 'shows.show-list'}}
            {{paper-button label='Home'}}
          {{/link-to}}
          {{#each model as |show|}}
            {{#link-to 'shows.show-detail' show.id}}
              {{paper-button label=show.name}}
            {{/link-to}}
          {{/each}}
        </div>
      {{/paper-toolbar}}
      {{outlet}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
